<app-navbar></app-navbar>

<div class="background">




<div class="frm">
    
    <div class="ds">

        
    <br><br>
            <h1>Share your ideas with us</h1><br>
        
    <img src="../../../assets/img/logo/logoo.jpg" alt="Logo" width="150">
         
    
       

       <form action="log\comment.php" method="post" enctype="multipart/form-data">
       
          

             
            <input type="text" name="username" placeholder="Username" required><br>
            <input type="email" name="email" placeholder="Email" required><br>
            <input type="text" name="comment" placeholder="Comments" required><br>
            
            <input type="submit" value="Submit">
       </form>
    </div>
</div>

</div>

<mat-card>
    <form (ngSubmit)="onSubmit(commentForm)" #commentForm="ngForm">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" name="email" ngModel required email>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Comment</mat-label>
        <textarea matInput placeholder="Comment" name="comment" ngModel required></textarea>
      </mat-form-field>
  
      <button mat-raised-button type="submit" [disabled]="!commentForm.valid">Submit</button>
    </form>
  </mat-card>
  

<app-footer></app-footer>