<app-navbar></app-navbar>

<div class="background">




  <div class="frm">
    
    <div class="ds">

        
    <br>
            <h2><b>Share your ideas with us</b></h2>
        
    <img src="../../../assets/img/logo/logoo.jpg" alt="Logo" width="100"><br>
         
    
       
      

    <form (ngSubmit)="onSubmit(commentForm)" #commentForm="ngForm">
      <mat-form-field class="reg-form-field">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>
      <br>
      <mat-form-field class="reg-form-field">
        <mat-label>Comment</mat-label>
        <input matInput formControlName="comment" type="comment">
      </mat-form-field>
      <br>
     
      <button mat-raised-button type="submit" [disabled]="!commentForm.valid">Submit</button><br>
    </form>
  
    </div>
</div>

</div>


  

<app-footer></app-footer>