.background {
    background-image: url("../../../assets/other/Screenshot+2022-01-04+3.25.13+PM~2.png"); /* Adjust the path according to your folder structure */
    background-size: cover; /* Adjust as needed */
    /* Add any other background properties like position, repeat, etc. */
    width: auto;
    background-position: center;
   /* height: 100vh;
    weigth: 100vh; */
    height: 1200px;



  }

  



/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  * {
    box-sizing: border-box;
  }
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
    height: 800px; /* Should be removed. Only for demonstration */
  }
  
  .left{
   width: 28%;
  }
  
  .middle {
    width: 70%;
  }
  .right {
    width: 2%;
  }
  
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /* ************************ */
  .container {
    position: relative;
    text-align: center;
    color: black;
    font-size:50px;
  }
  
  .containerr {
    position: relative;
    text-align: left;
    color: black;
    font-size:60px;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .top-left{
  position:absolute;
  top:8px;
  left:16px;
  text-align:center;
  }