<app-navbar></app-navbar>

<div class="background">
  <div class="row">
     <div class="column left" ><br>
    


      
      <div id="paragraph1" class="paragraph"><br><br><h1 align="center" > <b>Our Mission</b></h1><br>
       <p> "To enhance natural beauty and boost confidence with exceptional, 
        personalized services in a relaxing and welcoming environment."</p>
      
        <br><br><br>
      </div><br><br>
        





        <div id="paragraph2" class="paragraph"><br><br><h1 align="center"><b>Our Vision</b></h1> <br>
       <p>"To be the premier beauty salon, known for innovation, excellence, 
        and transforming beauty experiences."</p> 
      
        <br><br><br>
      </div><br>
        
    </div> 
    
      <div class="column right" >
      <img src="../../../assets/other/Beauty Cosmetic Design Vector PNG Images, Beauty  Illustration Design, Painting Women, Woman, Vector Character PNG Image For Free Download.jpg"width="100%" height="133%"></div>
    
    
   </div>
  </div>

     





<app-footer></app-footer>