.background {
    background-image: url("../../../assets/other/Screenshot+2022-01-04+3.25.13+PM~2.png"); /* Adjust the path according to your folder structure */
    background-size: cover; /* Adjust as needed */
    /* Add any other background properties like position, repeat, etc. */
    width: auto;
    background-position: center;
   /* height: 100vh;
    weigth: 100vh; */
    height: 1200px;



  }