<app-navbar></app-navbar>




<div class="background">



<div class="row">
    <div class="column left" >
  
   
      
      <img style="border-radius:50%;" src="D:\Nawoda Himashi\HNDIT\my project\pictures project\download.jpg"
       width="100%" height="650">
 
    
    </div>
  
    
    
    
    
    <div class="column middle" >
    <p style="font-size:52px; font-family:Castellar; color:#00008B;"><b>OUR MISSION</b> <br><br><br>
    
      <div class="container">
      <img src="../../../assets/other/Screenshot+2022-01-04+3.25.13+PM~2.png" width="100%" height="400">
    
    <div class="centered">
   
    <b>" </b>
  
    </div></div>
</div></div></div>
     





<app-footer></app-footer>