
  



/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

  * {
    box-sizing: border-box;
  }
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
    height: 800px; /* Should be removed. Only for demonstration */
  }
  
  .left{
   width: 50%;
  }
  
 
  .right {
    width: 50%;
    height: 100vh;
  }
  



  /* ************************ */
  .container {
    position: relative;
    text-align: center;
    color:white;
    font-size:50px;
    height: 100hv;
  }
  
  .containerr {
    position: relative;
    text-align: left;
    color: white;
    font-size:60px;
  }
  
  /* .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */
  
  /* .top-left{
  position:absolute;
  top:8px;
  left:16px;
  text-align:center;
  } */

  .paragraph {
    width: 100px;
    transition: width 2s;
    background:rgba(255, 161, 201, 0.7);
  }
  
  /* Specific timing functions */
  #paragraph1 { transition-timing-function: linear; }
  #paragraph2 { transition-timing-function: ease; }
  #paragraph3 { transition-timing-function: ease-in; }
  #paragraph4 { transition-timing-function: ease-out; }
  #paragraph5 { transition-timing-function: ease-in-out; }
  
  .paragraph:hover {
    width: 700px;
  }

  h1{

color: white;
    
  }
  p{

text-align: center;
color: black;
  }