<footer>
     

    <div class="copyright" align="center" style="color: white;">
                     <script>
                                 document.write('&copy;' );
                                  document.write(' 2023 - ');
                                  document.write(new Date().getFullYear());
                                 document.write(' Department of IT SLIATE-Gampaha) - All Rights Reserved.');
                                 document.write('<br/>Last Updated : ');
                                  document.write(document.lastModified);
                   </script>
                   <p><a href="#">Department of IT SLIATE-Gampaha - All Rights Reserved</a></p>

           </div>  
           <div class="link">
            <a href="https://www.facebook.com"> <img src="../../../assets/img/icon/fb.png" alt=""></a>
            <a href="https://www.youtube.com"> <img src="../../../assets/img/icon/you.png" alt=""></a>
            <a href="https://www.pinterest.com"> <img src="../../../assets/img/icon/pin.png" alt=""></a>
            <a href="https://www.twitter.com"> <img src="../../../assets/img/icon/twi.png" alt=""></a>
           </div> 

    </footer>