<div class="nav-div">
    <ul class="dash-ul">
        <li><img src="../../assets/img/logo/upper.jpg" alt="" class="dash-img"></li>
    
        <li class="dash-list1" style="float: right;"><a routerLink="/login">
            
                Login
            </a></li>
            <li class="dash-list1" style="float: right;"><a routerLink="/contactus">
               
                Contact Us
            </a></li>
       
        <li class="dash-list1" style="float: right;"><a routerLink="/aboutus">
         
            About Us
        </a></li>
 <li class="dash-list1" style="float: right;"><a routerLink="/appointment">
            
              Appointments 
            </a></li>
            <li class="dash-list1" style="float: right;"><a routerLink="/home">
             
              Home 
            </a></li>
        
    </ul>
   
</div>
