<p>comment works!</p>
<div class="booking-container">
    <h2>Book Your Appointment</h2>
    <form (ngSubmit)="submitcomment()">
      <div class="form-group">
        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="commentDetails.name" required>
      </div>
      <div class="form-group">
        <label for="email">Your Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="bookingDetails.email" required>
      </div>
      <div class="form-group">
        <label for="date">Preferred Date:</label>
        <input type="date" id="date" name="date" [(ngModel)]="bookingDetails.date" required>
      </div>
      <div class="form-group">
        <button type="submit">Submit Booking</button>
      </div>
    </form>
  </div>
  