.frm{
    display: flex;
    margin-top: 10px;
    /* background:rgba(0, 0, 0, 0.7); */
    width: 500px;
    height: 500px;
    position: relative;
    border-top-left-radius: 200px;
   
    align-items: center;
    margin-left: 35%;
  }

 
  /********************register************************ */
  .ds{
    display: flex;
    flex-direction: column;
   
    width: 500px;
  
    align-items: center;
    background:rgba(255, 161, 201, 0.7);
   
    margin-top: 90px;
  
  }
  .ds form{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
  }
  #name{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
  }
  .ds form input{
    margin: 10px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    text-align: center;
    outline: none;
    color:white;
    width: 300px;
  }
  .ds form input[type='submit']{
    border: none;
    background-color: blue;
    border-radius: 8px;
    color: white;
    padding: 5px;
    width: 100px;
    height: 30px;
    cursor: pointer;
  }
  .ds form input[type='submit']:hover{
    background:rgba(0, 0, 0, 0.7);
    border: 1px solid white;
  }
  .ds form input[type='file']{
    border: none;
    position: relative;
    left: 0;
    width: 150px;
  }
  .ds form textarea{
    background: transparent;
    width: 250px;
    margin: 10px;
    border: none;
    border-bottom: 1px solid white;
    text-align: center;
    outline: none;
  }
  .ds h1{
    font-size: 25px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .ds h2{
    font-size: 25px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .ds label{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  input::placeholder{
    color: white;
   }
   .errMsg{
    color: darkorange;
    margin-top: 5px;
   }
  

.background {
  background-image: url("../../../assets/other/OIgggP.jpeg"); /* Adjust the path according to your folder structure */
  background-size: cover; /* Adjust as needed */
  /* Add any other background properties like position, repeat, etc. */
  width: auto;
  background-position: center;
  height: 100vh; 
}


.booking-container button {
    background-color: blue;
    color: white; /* To ensure text is readable on the blue background */
    border: none; /* Remove border for a cleaner look */
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Optional: Add rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  .booking-container button:hover {
    background-color: darkblue; /* Change color on hover */
  }
  /* boking feiled*/
  

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .appointment-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .appointment-form mat-form-field {
    p
  }
  