<app-navbar></app-navbar>

<main>
  <section class="hero">
    <div class="hero-content">
     
        <img src="../../../assets/other/R (8).png" alt="Background Image" width="500px" height="700px">
        <div class="hero-text">
          <h1>Welcome to our Salon</h1>
          <p>If you are looking a best solution Come and join with us</p>
          <a class="btn btn-primary" a routerLink="/aboutus">Learn More</a>
        </div>
      </div>
    
    <div class="hero-image">
      <img src="../../../assets/other/pexels-juanlaurio-2144413.jpg" alt="Makeup Artist">
    </div>
  </section>
</main>

<app-footer></app-footer>
