<div class="main-container">
  <div class="dashboard">
    <app-dashboard></app-dashboard>
  </div>
  <div class="content">
    <div class="container">
    <table class="table table-bordered" border="1">
      <thead>
        <tr>
          <th>Name</th>
          <th>Service</th>
          <th>Date</th>
          <th>Time</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of appointments">
          <td>{{ appointment.name }}</td>
          <td>{{ appointment.service }}</td>
          <td>{{ appointment.date }}</td>
          <td>{{ appointment.time }}</td>
          <td>
            <button (click)="editAppointment(appointment)" class="btn btn-primary">Edit</button>
            <button (click)="deleteAppointment(appointment.userId)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  