<div class="main-container">
  <div class="content">
    <div class="container">
      <table class="table table-bordered" border="1">
        
        <thead>
             <!-- New Row with Center-Aligned Content and Pink Background -->
             <tr class="new-row">
              <td colspan="6">Veiw Appointments</td>
            </tr>
            <!-- Existing Rows -->
          <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>email</th>
            <th>Service</th>
            <th>Date</th>
            <th>Time</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
       
          <tr *ngFor="let appointment of appointments,let i = index">
            <td>{{i+1}}</td>
            <td>{{ appointment.name }}</td>
            <td>{{ appointment.email }}</td>
            <td>{{ appointment.service }}</td>
            <td>{{ appointment.date }}</td>
            <td>{{ appointment.time }}</td>
            <td>
              <!-- <button (click)="editAppointment(appointment)" class="btn btn-primary">Edit</button> -->
              <button (click)="rejectAppointment(appointment._id,appointment)" class="btn btn-danger">reject</button>
              <button (click)="confirmAppointment(appointment._id,appointment)" class="btn btn-danger">Confirm</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
