
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   background-color:white;
}

.main{
    display: flex;
    width: 70%;
    height: 90vh;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #888888;
    /* background-color: brown; */
}
.main .img  img{
   min-height: 90vh; 
  height: 90vh;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; 
}


.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; 
    /* background-color: azure; */
   
}
.form a{
    text-decoration: none;
    margin: 5px;
    font-weight: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.form h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
#input{
    margin: 10px;
    padding-left: 10px;
    width: 300px;
    height: 30px;
    background-color: white;
    border: 1px solid lightseagreen;
    border-radius: 5px;
}
#input::placeholder{
    color: #888888;
}
.form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form form input[type="submit"]{
    margin: 10px;
    border: none;
    width: 100px;
    height: 40px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bolder;
    background-color:dodgerblue;
}
.frm{
    display: flex;
    margin-top: 6px;
    /* background:rgba(0, 0, 0, 0.7); */
    width: 1000px;
    height: 500px;
    position: relative;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    margin-left: 15%;
  }

  /***************Login****************/
  .lg{
    background:rgba(0, 0, 0, 0.5);
    display: flex;
    width: 500px;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    /* background-color: red; */
    border-top-left-radius: 100px;
    color: white;
    margin-top: 20px;
  }
  .lg form{
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  .lg form input{
    margin-top: 20px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    text-align: center;
    color: white;
  }
  .lg form input[type='submit']{
    border: none;
    background-color: blue;
    border-radius: 8px;
    color: white;
    padding: 5px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    animation-name: logBtn;
    animation-duration: 1s;
  }
  .lg form input[type='submit']:hover{
    background:rgba(0, 0, 0, 0.7);
    border: 1px solid white;
  }
  
  .lg h2{
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .lg p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 58, 255);
  }
  /********************register************************ */
  .ds{
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 100px;
    width: 500px;
    justify-content: center;
    align-items: center;
    background:rgba(0, 0, 0, 0.7);
    margin-top: 20px;

    
  }
  .ds form{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  #name{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
  }
  .ds form input{
    margin: 10px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    text-align: center;
    outline: none;
    color:white;
  }
  .ds form input[type='submit']{
    border: none;
    background-color: blue;
    border-radius: 8px;
    color: white;
    padding: 5px;
    width: 100px;
    height: 30px;
    cursor: pointer;
  }
  .ds form input[type='submit']:hover{
    background:rgba(0, 0, 0, 0.7);
    border: 1px solid white;
  }
  .ds form input[type='file']{
    border: none;
    position: relative;
    left: 0;
    width: 150px;
  }
  .ds form textarea{
    background: transparent;
    width: 250px;
    /* margin-top: 200px; */
    margin: 10px;
    border: none;
    border-bottom: 1px solid white;
    text-align: center;
    outline: none;
  }
  .ds h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .ds label{
    color: #009DCC;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  input::placeholder{
    color: white;
   }
   .errMsg{
    color: darkorange;
    margin-top: 5px;
   }
   .background {
    background-image: url("../../../assets/other/pexels-gabby-k-6621224.jpg"); /* Adjust the path according to your folder structure */
    background-size: cover; /* Adjust as needed */
    /* Add any other background properties like position, repeat, etc. */
    width: auto;
    background-position: center;
    height: 100vh; }