<app-navbar></app-navbar>

<div class="background">
  <div class="frm">
    <div class="lg">
      <img src="../../../assets/img/logo/logoo.jpg" alt="Logo" width="150">
      <h2>Login</h2>
      <p>I have an already created account</p>

      <label class="errMsg"></label>

      <form [formGroup]="login_form" (submit)="loginsubmit()">
        <mat-form-field class="reg-form-field">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <br>
        <mat-form-field class="reg-form-field">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password">
        </mat-form-field>
        <br>
        <button mat-flat-button>Login</button>
      </form>
    </div>
    
    
       
        
        
   
  </div>
  <br><br><br>
  <app-footer></app-footer>

